<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>E-Commerce</title>
</head>
<body>
    <section>
        <!-- Start Slider  -->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/category_img/bg-img.jpg" class="d-block w-100" alt="..."
                        height="350px">
                </div>
                <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- End Slider  -->
        <!-- Sale Active Banner (Displayed only if sale is active) -->
 
<div th:if="${saleActive}" class="alert alert-success text-center mt-3">
                        <strong>Sale On Now!</strong> Enjoy [[${saleDiscount}]]% off until [[${saleEnd}]]!
                    </div>
        <!-- Start Category Module -->
        <div class="container">
            <div class="row">
                <p class="text-center fs-4">Category</p>
                <div class="col-md-2" th:each="c:${allActiveCategory}">
                    <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img th:src="@{'img/category_img/'+${c.imageName}}" width="65%" height="140px"><br>
                            <a th:href="@{'/products?category='+${c.name}}" class="text-decoration-none">[[${c.name}]]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Category Module -->

        <!-- Start Latest Product Module -->
        <div class="container-fluid bg-light p-3">
            <div class="row">
                <p class="text-center fs-4">Latest Product</p>

                <div class="col-md-3" th:each="p:${allActiveProducts}">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img alt="" th:src="@{'img/product_img/'+${p.image}}" width="65%" height="140px">
                            <p class="text-center"><a th:href="@{'/product/'+${p.id}}" class="text-decoration-none">[[${p.title}]]</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Latest Product Module -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/67cd1c877e9edb1906e42f8e/1ilsjes7b';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
  </section>
 
</body>
</html>